@font-face {
	font-family: "Roboto-reg";
	font-style: normal;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-med";
	src: url("../fonts/Roboto-Medium.ttf");
}

html {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
    overflow: auto;
}

.navbart {
	overflow: hidden;
	background-color: #0452a2;
	position: fixed;
	top: 0;
	width: 100%;
	color: white;
	z-index: 1000;
	user-select: none;
}


.navtit{
	padding-left: 15px;
	margin-top: 10px;
}

.text-part{
	margin-top: 60px;
}

.hm-question{
	margin-bottom: 4px;
	padding: 10px 0;
}

/*.m-b-10 {
	margin-bottom: 10px;
}*/
.md-title {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .005em;
}

.topclickbtn{
	background-color:#0452a2!important;
	color:white;
	font-size: 16px;
	width:120px; 
	height: 40px;
	float:right;
	margin-right: 10px;
	border-radius: 5px;
	border:1px solid #0452a2;
	margin-bottom: 10px;
}

.wellbox{
	min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 4px;
    
}

#main div {
           display: none;
           margin-bottom: 10px;
         }
           #main{
               height: 450px;
                overflow-y:hidden;
                padding: 5px;
                margin: 5px;
                margin-top: 40px;
           }

           #banner{
               height: 100px;
               padding: 20px;
                margin-top: 240px;
                background:linear-gradient(transparent,white);
                position: absolute;
                top: 0;
                z-index: 500;
                text-align: center;
           }
            #replay,#play,#modelbtn,#prev,#next{
                 float: right; 
                margin: 5px;
                padding: 5px;
                 margin-top: 120px; 
                width: 80px;
                height: 40px;
                font-size: 16px;
                border:1px solid #a2a2a2;
                box-shadow: 0 3px 5px 0 rgba(0,0,0,.26);
            }

            #replay:active {
    border: 2px solid  #a2a2a2;
}

    #play:active{
    border: 2px solid rgb(4,82,162);
}

            #replay{
                    color: rgba(255,255,255,0.87);
    background-color: rgb(4,82,162);
    border:1px solid rgb(4,82,162);
            }

            #modelbtn{
                color: rgba(255,255,255,0.87);
    background-color: rgb(4,82,162);
    border:1px solid rgb(4,82,162);
            }

#outline{
        height: 550px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    margin-top: 53px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -7px;
}


